/* FONTS */
@font-face {
  src: url(../fonts/david.ttf) format("truetype");
  font-family: "David";
  font-display: block;
}
@font-face {
  src: url(../fonts/Assistant-Regular.ttf) format("truetype");
  font-family: "Assistant";
  font-display: block;
}
@font-face {
  src: url(../fonts/Assistant-Light.ttf) format("truetype");
  font-family: "Assistant Light";
  font-display: block;
}
/* Universal selector, body tag */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
  text-decoration: none;
  transition: 0.3s ease;
}

body {
  background-color: black;
}

img {
  display: block;
  width: 100%;
}

p {
  font-family: "Assistant", sans-serif;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 28px;
  color: #525a5a;
}

small {
  display: block;
}

/* General Use Classes */
.align-c {
  text-align: center;
}

.align-l {
  text-align: left;
}

.align-r {
  text-align: right;
}

.banner {
  width: 100%;
}

.banner-headline {
  margin: 150px 0 20px 150px;
  font-family: "David", serif;
  font-weight: normal;
  font-size: 65px;
  letter-spacing: -0.5px;
  line-height: 55px;
  text-transform: auto;
}

.banner-text {
  margin: 5px 5px 5px 150px;
  font-family: "Assistant", sans-serif;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.cta {
  margin: 10px auto;
  padding: 10px;
  font-family: "Assistant Light", sans-serif;
  font-weight: normal;
  font-size: 13.5px;
  letter-spacing: 1px;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: none;
}

.collapsed {
  height: 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  visibility: none;
}

.list-item {
  display: inline-block;
  text-decoration: none;
}

.on-black {
  color: #eee;
}

.on-white {
  color: #525a5a;
}

.rule {
  display: block;
}

/* Navigation Bar */
nav#navigation {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
}
nav#navigation div#nav-logo-container {
  padding-top: 15px;
  transition: 0.7s ease-in-out;
}
nav#navigation div#nav-links-container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
nav#navigation div#nav-links-container a {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  font-family: "Assistant Light", sans-serif;
  font-weight: bold;
  font-size: 10.5px;
  letter-spacing: 1px;
  line-height: auto;
  text-transform: uppercase;
  color: white;
}
nav#navigation div#nav-links-container a sup {
  color: red;
}
nav#navigation div#nav-links-container a:hover {
  opacity: 0.3;
}

/* Collapsed Navigation Bar (via JavaScript) */
nav#navigation-collapsed {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
}
nav#navigation-collapsed div#nav-logo-container {
  padding-top: 0;
  transition: 0.3s ease-in-out;
}
nav#navigation-collapsed div#nav-links-container a {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  font-family: "Assistant Light", sans-serif;
  font-weight: bold;
  font-size: 10.5px;
  letter-spacing: 1px;
  line-height: auto;
  text-transform: uppercase;
  color: white;
}
nav#navigation-collapsed div#nav-links-container a sup {
  color: red;
}
nav#navigation-collapsed div#nav-links-container a:hover {
  opacity: 0.3;
}

/* Page Banner Section */
section#page-banner {
  margin: 60px 0 0 0;
  padding: 50px 10px 150px 10px;
  background-image: url(../images/racoon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  height: 700px;
}
section#page-banner div h1 {
  color: white;
}
section#page-banner div p {
  width: 45%;
  color: #eee;
}

/* Craftsmanship  */
section#craftsmanship {
  padding: 90px 0 300px 0;
  background-color: white;
}
section#craftsmanship h2 {
  margin: 40px 0 20px 0;
  font-family: "David", serif;
  font-weight: normal;
  font-size: 50px;
  letter-spacing: -0.5px;
  line-height: inherit;
  color: black;
}
section#craftsmanship p {
  margin: 20px auto;
  margin-bottom: 40px;
  width: 70%;
  font-family: "Assistant", sans-serif;
  font-weight: normal;
  font-size: 17.5px;
  letter-spacing: 0.2px;
  line-height: 30px;
}
section#craftsmanship div {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
section#craftsmanship div.card {
  margin: 10px 20px;
  width: 20%;
}
section#craftsmanship div.card p {
  margin: 5px;
  width: 100%;
  font-family: "Assistant", sans-serif;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 22px;
  color: #525a5a;
}
section#craftsmanship a {
  display: inline-block;
  margin: 10px auto;
  font-weight: normal;
  background-color: white;
  color: black;
}
section#craftsmanship a:hover {
  background-color: red;
}

/* Case Study */
section#study {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: visible;
}
section#study div.container_outer {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  bottom: 200px;
}
section#study div.container_outer div.container_text, section#study div.container_outer div.container_img {
  margin: 0;
  width: 80%;
}
section#study div.container_outer div.container_img img {
  width: 100%;
}
section#study div.container_outer div.container_text {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px auto;
  padding-bottom: 40px;
}
section#study div.container_outer div.container_text h2 {
  margin: 30px auto;
  margin-bottom: 0;
  font-family: "David", serif;
  font-weight: normal;
  font-size: 50px;
  letter-spacing: -0.5px;
  line-height: 50px;
  color: white;
}
section#study div.container_outer div.container_text p {
  margin: 10px auto;
  padding: 0 30px;
  width: 100%;
  letter-spacing: 0.2px;
  line-height: 30px;
}
section#study div.container_outer div.container_text a {
  border: 1px solid white;
  border-radius: 0;
  outline: none;
  color: white;
}
section#study div.container_outer div.container_text a:hover {
  background-color: white;
  color: black;
}

/* Footer */
footer {
  padding: 50px 0 80px 0;
  background-color: black;
  color: white;
  border-top: 1px solid rgba(211, 207, 207, 0.2);
}
footer nav#footer-nav {
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
footer nav#footer-nav div#social {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
footer nav#footer-nav div#social div#copyright p {
  margin: 2px 0 0 0;
  font-family: "Assistant Light", sans-serif;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: inherit;
  color: #eee;
  align-self: center;
}
footer nav#footer-nav div#social div.social-media-container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
}
footer nav#footer-nav div#social div.social-media-container a {
  display: inline-block;
  margin: 40px;
}
footer nav#footer-nav div.column {
  display: inline-block;
  margin: 10px 60px;
  padding: 0;
}
footer nav#footer-nav div.column:nth-child(4) {
  margin-right: 0;
}
footer nav#footer-nav div.column a {
  display: block;
  margin: 5px 45px;
  padding: 0;
  font-family: "Assistant Light", sans-serif;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: inherit;
  color: white;
  transition: 0.3s ease-in-out;
}
footer nav#footer-nav div.column a:hover {
  text-decoration: underline;
}
footer nav#footer-nav div.column a sup {
  font-size: 8px;
}
footer nav#footer-nav div.column a sup:hover {
  text-decoration: none;
}
footer nav#footer-nav div.column a span {
  color: orangered;
}

/***** MEDIA QUERIES *****/
@media screen and (max-width: 1125px) {
  section#trusted ul {
    justify-content: center;
    margin-top: 40px;
  }
  section#trusted ul li {
    margin: 5px 0;
    padding: 0 40px;
    width: 25%;
  }

  section#try div#sign-up-container form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }
  section#try div#sign-up-container form input {
    width: 80%;
  }
}
@media screen and (max-width: 877px) {
  footer {
    padding-bottom: 50px;
  }

  div.column h4 {
    text-align: center;
  }

  div.column a {
    text-align: center;
  }

  footer div#social {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  footer div#social div#social-media-container, footer div#social div#footer-logo-container img, footer div#social p#copyright {
    margin: 5px auto;
  }
  footer div#social div#social-media-container {
    order: 1;
    margin-bottom: 30px;
  }
  footer div#social p#copyright {
    text-align: center;
    order: 2;
  }
}
@media screen and (max-width: 789px) {
  section#try div#sign-up-container form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }
  section#try div#sign-up-container form input {
    width: 80%;
  }
}
@media screen and (max-width: 589px) {
  section#try div#sign-up-container form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }
  section#try div#sign-up-container form input {
    margin-bottom: 20px;
    width: 97%;
  }
  section#try div#sign-up-container form button {
    margin-left: 0;
    width: 97%;
  }
}
