/* FONTS */
@font-face {
  src: url(../fonts/david.ttf) format("truetype");
  font-family: "David";
  font-display: block;
}
@font-face {
  src: url(../fonts/Assistant-Regular.ttf) format("truetype");
  font-family: "Assistant";
  font-display: block;
}
@font-face {
  src: url(../fonts/Assistant-Light.ttf) format("truetype");
  font-family: "Assistant Light";
  font-display: block;
}
/* Universal selector, html, body and general use tags */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
  text-decoration: none;
  transition: 0.3s ease;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

a#top-link {
  justify-content: center;
  align-content: center;
  background-image: url(../images/up.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  top: 85%;
  left: 92%;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  font-family: "David", serif;
  font-size: 2rem;
  background-color: white;
  transition: 0.3s ease-in;
  box-shadow: 1px 1px 8px 1px rgba(156, 143, 143, 0.5);
}

a#top-link:hover {
  background-image: url(../images/up2.png);
  background-color: black;
  border-radius: 50%;
  box-shadow: none;
}

body {
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  border-radius: 8px;
  width: 100%;
}

p {
  font-family: "Assistant", sans-serif;
  font-weight: normal;
  font-size: 18.5px;
  letter-spacing: 0.5px;
  line-height: 28px;
  color: #525a5a;
}

small {
  display: block;
}

/* General Use Classes */
.align-c {
  text-align: center;
}

.align-l {
  text-align: left;
}

.align-r {
  text-align: right;
}

.banner {
  width: 100%;
}

.banner-headline {
  margin: 150px 0 20px 150px;
  font-family: "David", serif;
  font-weight: normal;
  font-size: 65px;
  letter-spacing: -0.5px;
  line-height: 55px;
  text-transform: auto;
}

.banner-text {
  margin: 5px 5px 5px 150px;
  font-family: "Assistant", sans-serif;
  font-weight: normal;
  font-size: 19px;
  letter-spacing: 0.2px;
  line-height: 30px;
}

.cta {
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-family: "Assistant Light", sans-serif;
  font-weight: normal;
  font-size: 13.5px;
  letter-spacing: 1px;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: none;
}

.collapsed {
  height: 0;
}

.flex-cl {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-rw {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.heading-l {
  font-family: "David", serif;
  font-weight: normal;
  font-size: 55px;
  letter-spacing: -0.5px;
  line-height: inherit;
}

.heading-m {
  font-family: "David", serif;
  font-weight: normal;
  font-size: 50px;
  letter-spacing: -0.5px;
  line-height: inherit;
}

.heading-s {
  margin: 10px auto;
  font-family: "David", serif;
  font-weight: normal;
  font-size: 35px;
  letter-spacing: -0.8px;
  line-height: 40px;
}

.heading-t {
  margin: 10px auto;
  font-family: "David", serif;
  font-weight: normal;
  font-size: 28px;
  letter-spacing: -0.8px;
  line-height: 40px;
}

.heading-xl {
  margin: 10px auto;
  font-family: "David", serif;
  font-weight: normal;
  font-size: 65px;
  letter-spacing: -0.8px;
  line-height: 60px;
}

.hidden {
  opacity: 0;
}

.list-item {
  display: inline-block;
  text-decoration: none;
}

.on-black {
  color: #eee;
}

.on-white {
  color: #525a5a;
}

.rule {
  display: block;
  border: 1px solid white;
  border-bottom: none;
}

/* Navigation Bar */
nav#navigation {
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
}
nav#navigation div#nav-logo-container {
  padding-top: 15px;
  transition: 0.7s ease-in-out;
}
nav#navigation div#nav-links-container {
  justify-content: space-between;
  align-items: center;
}
nav#navigation div#nav-links-container a {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  font-family: "Assistant Light", sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: auto;
  text-transform: uppercase;
  color: white;
}
nav#navigation div#nav-links-container a sup {
  color: red;
}
nav#navigation div#nav-links-container a:hover {
  opacity: 0.3;
}

/* Collapsed Navigation Bar (via JavaScript) */
nav#navigation-collapsed {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
}
nav#navigation-collapsed div#nav-logo-container {
  padding-top: 0;
  transition: 0.5s ease-in-out;
}
nav#navigation-collapsed div#nav-links-container a {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  font-family: "Assistant Light", sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: auto;
  text-transform: uppercase;
  color: white;
}
nav#navigation-collapsed div#nav-links-container a sup {
  color: red;
}
nav#navigation-collapsed div#nav-links-container a:hover {
  opacity: 0.3;
}

/* Page Banner Section */
section#page-banner {
  margin: 60px 0 0 0;
  padding: 50px 10px 150px 10px;
  background-image: url(../images/racoon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  height: 700px;
}
section#page-banner div h1 {
  color: white;
}
section#page-banner div p {
  width: 40%;
  color: #eee;
}

/* Craftsmanship  */
section#craftsmanship {
  padding: 100px 0 40px 0;
  background-color: white;
}
section#craftsmanship h2 {
  margin: 50px 0 20px 0;
  color: black;
}
section#craftsmanship p {
  margin: 10px auto;
  width: 70%;
  letter-spacing: 0.2px;
  line-height: 30px;
}
section#craftsmanship div {
  justify-content: center;
  align-items: center;
}
section#craftsmanship div.card {
  margin: 5px;
  padding: 30px;
  width: 35%;
}
section#craftsmanship div.card:nth-child(even) {
  position: relative;
  top: 70px;
}
section#craftsmanship div.card img {
  border-radius: 8px;
}
section#craftsmanship h2.heading-l.pad {
  margin: 150px 0 100px 0;
  padding-right: 20%;
}

/* History Section */
section#history {
  background-image: url(../images/meese.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  height: 1700px;
}
section#history div#history-content {
  min-width: 900px;
}
section#history div#history-content div.flex-rw {
  justify-content: space-between;
  align-items: stretch;
  margin: 20px auto;
  width: 100%;
}
section#history div#history-content div.flex-rw span {
  margin: 0;
  margin-right: 10px;
}
section#history div#history-content div.flex-rw h3 {
  position: relative;
  top: 3px;
}
section#history div#history-content hr {
  border: 1px solid white;
  border-bottom: none;
}
section#history div#history-content h2#bottom {
  margin-top: 300px;
}

/* Patreons */
section#patreon {
  padding: 100px 0;
  background-color: white;
}
section#patreon div.flex-rw {
  justify-content: space-evenly;
  align-items: center;
}
section#patreon div.flex-rw div.container_txt {
  width: 45%;
}
section#patreon div.flex-rw div.container_txt h2, section#patreon div.flex-rw div.container_txt p {
  padding: 0 60px;
}
section#patreon div.flex-rw div.container_txt h2 {
  margin: 10px auto;
  margin-bottom: 20px;
}
section#patreon div.flex-rw div.container_txt hr {
  margin: 30px auto;
  width: 85%;
}
section#patreon div.flex-rw div.container_txt p {
  letter-spacing: 0.2px;
  line-height: 30px;
}
section#patreon div.flex-rw div.container_img {
  justify-content: space-evenly;
  align-items: stretch;
  width: 55%;
}
section#patreon div.flex-rw div.container_img div.card {
  width: 40%;
}
section#patreon div.flex-rw div.container_img div.card img {
  width: 100%;
}

/* Case Study */
section#study {
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  background-color: black;
  overflow: visible;
}
section#study div.container_outer {
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  width: 100%;
}
section#study div.container_outer div.container_txt, section#study div.container_outer div.container_img {
  margin: 0;
  width: 80%;
}
section#study div.container_outer div.container_img img {
  width: 100%;
}
section#study div.container_outer div.container_txt {
  justify-content: center;
  align-items: center;
  padding: 50px auto;
  padding-bottom: 0;
}
section#study div.container_outer div.container_txt h2 {
  margin: 30px auto;
  margin-bottom: 0;
  color: white;
}
section#study div.container_outer div.container_txt p {
  margin: 10px auto;
  padding: 0 30px;
  width: 100%;
  letter-spacing: 0.2px;
  line-height: 30px;
}
section#study div.container_outer div.container_txt a {
  margin-top: 50px;
  border: 1px solid white;
  border-radius: 0;
  outline: none;
  color: white;
}
section#study div.container_outer div.container_txt a:hover {
  background-color: white;
  color: black;
}

/* Commission */
section#commission {
  padding-bottom: 50px;
  background-color: white;
}
section#commission div#form-container {
  margin: 20px auto;
}
section#commission div#form-container h2 {
  margin-left: 15%;
  margin-bottom: 20px;
}
section#commission div#form-container h2 {
  padding-top: 120px;
  color: black;
}
section#commission div#form-container form {
  padding: 10px;
}
section#commission div#form-container form input, section#commission div#form-container form button, section#commission div#form-container form textarea {
  margin: 30px auto;
  width: 70%;
  font-size: 20px;
  outline: none;
}
section#commission div#form-container form input, section#commission div#form-container form textarea {
  padding: 10px;
  background-color: white;
  color: black;
}
section#commission div#form-container form input {
  border: none;
  border-bottom: 1px solid grey;
}
section#commission div#form-container form input:focus {
  border-bottom: 1px solid black;
}
section#commission div#form-container form textarea {
  border: 1px solid grey;
}
section#commission div#form-container form textarea:focus {
  border: 1px solid black;
}
section#commission div#form-container form button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  letter-spacing: 8px;
  text-transform: uppercase;
  background-color: black;
  color: white;
}

/* Footer */
footer {
  padding: 50px 0 80px 0;
  background-color: black;
  color: white;
  border-top: 1px solid rgba(211, 207, 207, 0.2);
}
footer nav#footer-nav {
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
footer nav#footer-nav div#social {
  justify-content: space-around;
  align-items: center;
}
footer nav#footer-nav div#social div#copyright p {
  margin: 2px 0 0 0;
  font-family: "Assistant Light", sans-serif;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: inherit;
  color: #eee;
  align-self: center;
}
footer nav#footer-nav div#social div.social-media-container {
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
}
footer nav#footer-nav div#social div.social-media-container a {
  display: inline-block;
  margin: 40px;
}
footer nav#footer-nav div.column {
  display: inline-block;
  margin: 10px 60px;
  padding: 0;
}
footer nav#footer-nav div.column:nth-child(4) {
  margin-right: 0;
}
footer nav#footer-nav div.column a {
  display: block;
  margin: 5px 45px;
  padding: 0;
  font-family: "Assistant Light", sans-serif;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: inherit;
  color: white;
  transition: 0.3s ease-in-out;
}
footer nav#footer-nav div.column a:hover {
  opacity: 0.5;
}
footer nav#footer-nav div.column a small {
  margin-top: 30px;
  color: grey;
}
footer nav#footer-nav div.column a sup {
  font-size: 8px;
}
footer nav#footer-nav div.column a sup:hover {
  text-decoration: none;
}
footer nav#footer-nav div.column a span {
  color: orangered;
}

/***** MEDIA QUERIES *****/
@media screen and (max-width: 1125px) {
  section#trusted ul {
    justify-content: center;
    margin-top: 40px;
  }
  section#trusted ul li {
    margin: 5px 0;
    padding: 0 40px;
    width: 25%;
  }

  section#try div#sign-up-container form {
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }
  section#try div#sign-up-container form input {
    width: 80%;
  }
}
@media screen and (max-width: 877px) {
  footer {
    padding-bottom: 50px;
  }

  div.column h4 {
    text-align: center;
  }

  div.column a {
    text-align: center;
  }

  footer div#social {
    justify-content: center;
    align-items: center;
  }
  footer div#social div#social-media-container, footer div#social div#footer-logo-container img, footer div#social p#copyright {
    margin: 5px auto;
  }
  footer div#social div#social-media-container {
    order: 1;
    margin-bottom: 30px;
  }
  footer div#social p#copyright {
    text-align: center;
    order: 2;
  }
}
@media screen and (max-width: 789px) {
  section#try div#sign-up-container form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }
  section#try div#sign-up-container form input {
    width: 80%;
  }
}
@media screen and (max-width: 589px) {
  section#try div#sign-up-container form {
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }
  section#try div#sign-up-container form input {
    margin-bottom: 20px;
    width: 97%;
  }
  section#try div#sign-up-container form button {
    margin-left: 0;
    width: 97%;
  }
}
