/* FONTS */
@font-face {
  src: url(../fonts/gilroy-light.otf) format("opentype");
  font-family: "Gilroy Light";
  font-display: block;
}
@font-face {
  src: url(../fonts/david.ttf) format("truetype");
  font-family: "David";
  font-display: block;
}
@font-face {
  src: url(../fonts/Assistant-Light.ttf) format("truetype");
  font-family: "Assistant Light";
  font-display: block;
}
/* Universal selector, body tag */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Assistant Light", sans-serif;
  text-decoration: none;
  transition: 0.3s ease;
}

body {
  background-color: black;
  color: #eee;
}

img {
  display: block;
  width: 100%;
}

p {
  font-family: "Assistant Light", sans-serif;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 28px;
  color: #363b3b;
}

small {
  display: block;
}

/* General Use Classes */
.align-c {
  text-align: center;
}

.align-l {
  text-align: left;
}

.align-r {
  text-align: right;
}

.banner {
  width: 100%;
}

.banner-headline {
  margin: 150px 0 20px 150px;
  font-family: "David", serif;
  font-weight: normal;
  font-size: 65px;
  letter-spacing: -0.5px;
  line-height: 55px;
  text-transform: auto;
}

.banner-text {
  margin: 5px 5px 5px 150px;
  font-family: "Assistant Light", sans-serif;
  font-weight: normal;
  font-size: 17px;
  letter-spacing: 0.5px;
  line-height: 30px;
}

.cta {
  margin: 10px auto;
  padding: 10px;
  font-family: "David", serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: none;
}

.collapsed {
  height: 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  visibility: none;
}

.list-item {
  display: inline-block;
  text-decoration: none;
}

.on-black {
  color: #eee;
}

.on-white {
  color: #363b3b;
}

.rule {
  display: block;
}

/* Navigation Bar */
nav#navigation {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
}
nav#navigation div#nav-logo-container, nav#navigation div#nav-links-container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
nav#navigation div#nav-logo-container {
  padding-top: 15px;
}
nav#navigation div#nav-links-container a {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  font-family: "Gilroy Light", sans-serif;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: auto;
  text-transform: uppercase;
  color: white;
}
nav#navigation div#nav-links-container a sup {
  color: red;
}
nav#navigation div#nav-links-container a:hover {
  color: red;
}

/* Collapsed Navigation Bar (via JavaScript) */
nav#navigation-collapsed {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
}
nav#navigation-collapsed div#nav-logo-container-collapsed {
  padding-top: 0;
}
nav#navigation-collapsed div#nav-links-container a {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  font-family: "Gilroy Light", sans-serif;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: auto;
  text-transform: uppercase;
  color: white;
}
nav#navigation-collapsed div#nav-links-container a sup {
  color: red;
}
nav#navigation-collapsed div#nav-links-container a:hover {
  color: red;
}

/* Page Banner Section */
section#page-banner {
  margin: 60px 0 0 0;
  padding: 50px 10px 150px 10px;
  background-image: url(../images/mathew.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}
section#page-banner div h1 {
  color: white;
}
section#page-banner div p {
  width: 40%;
  color: #eee;
}

/* Solutions  */
section#solutions {
  padding: 50px 0 100px 0;
}
section#solutions h2 {
  margin: 40px 0 20px 0;
  font-family: "David", serif;
  font-weight: normal;
  font-size: 43px;
  letter-spacing: -0.5px;
  line-height: inherit;
  color: white;
}
section#solutions p {
  margin: 20px auto;
  width: 70%;
}
section#solutions div {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
section#solutions div.card {
  margin: 20px;
  width: 35%;
  border-radius: 0;
}
section#solutions div.card h3 {
  margin: 10px auto;
  font-family: "David", serif;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 30px;
  color: #363b3b;
}
section#solutions a {
  display: inline-block;
  margin: 10px auto;
  font-weight: normal;
  background-color: white;
  color: black;
}
section#solutions a:hover {
  background-color: red;
}

/* Stats*/
section#stats div.container_outer {
  padding: 40px 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  box-shadow: 2px 2px 12px 2px rgba(183, 183, 183, 0.9);
}
section#stats div.container_outer div.container_inner {
  padding: 10px;
  width: 45%;
}
section#stats div.container_outer div.container_inner h2, section#stats div.container_outer div.container_inner span {
  margin: 20px auto;
  padding: 5px;
  letter-spacing: -0.5px;
  line-height: inherit;
}
section#stats div.container_outer div.container_inner h2 {
  font-family: "David", serif;
  font-weight: normal;
  font-size: 40px;
  color: white;
}
section#stats div.container_outer div.container_inner span {
  display: inline-block;
  padding: 20px;
  border: 4px solid white;
  border-radius: 50%;
  font-family: "David", serif;
  font-weight: bold;
  font-size: 60px;
  background-color: black;
  color: white;
}
section#stats div.container_outer div.container_inner p {
  margin: 40px;
  padding: 5px;
  min-width: 350px;
  font-family: "Source Sans Pro Light";
  font-size: 30px;
  letter-spacing: -0.5px;
  color: #2f2b2b;
}
section#stats div.container_outer div.container_inner small {
  margin: 10px;
}
section#stats div.container_outer div.container_inner.flex {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
section#stats div.container_outer div.container_inner.flex div.flex {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* Carousel  */
section#carousel {
  padding: 100px 0;
}
section#carousel div {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
section#carousel div.carousel-btn-l, section#carousel div.carousel-btn-r {
  display: inline-block;
  padding: 10px;
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}
section#carousel div.carousel-btn-l:hover, section#carousel div.carousel-btn-r:hover {
  background-color: black;
  box-shadow: 2px 4px 10px rgba(211, 207, 207, 0.7);
}
section#carousel div.carousel-btn-l {
  left: 40px;
  top: 180px;
}
section#carousel div.carousel-btn-r {
  left: 1240px;
  bottom: 200px;
}
section#carousel div.card {
  margin: 20px;
  width: 25%;
  border-radius: 0;
  background-color: black;
  box-shadow: 2px 2px 10px rgba(211, 207, 207, 0.7);
}
section#carousel div.card h3 {
  margin: 5px auto;
  font-family: "David", serif;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 30px;
  color: #363b3b;
}

/* Threat Report */
section#report {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  background-color: red;
}
section#report div.container_text, section#report div.container_img {
  margin: 0;
  width: 50%;
}
section#report div.container_text {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 150px 0 130px 0;
}
section#report div.container_text h2 {
  margin: 10px auto;
  font-family: "David", serif;
  font-weight: normal;
  font-size: 40px;
  letter-spacing: -0.5px;
  line-height: 40px;
  color: black;
}
section#report div.container_text hr {
  margin: 20px auto;
  width: 90%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: none;
}
section#report div.container_text p {
  margin: 25px auto;
  padding: 0 30px;
  color: black;
}
section#report div.container_text a {
  border: 1px solid black;
  border-radius: 0;
  outline: none;
  color: black;
}
section#report div.container_text a:hover {
  background-color: black;
  color: red;
}
section#report div.container_img img {
  height: 100%;
}

/* Trusted By */
section#trusted {
  padding: 40px;
}
section#trusted h2 {
  margin: 10px auto;
  font-family: "David", serif;
  font-weight: normal;
  font-size: 40px;
  letter-spacing: -0.5px;
  line-height: inherit;
  color: white;
}
section#trusted p {
  margin: 10px auto;
  margin-bottom: 0;
}
section#trusted ul {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 0 auto;
  padding: 0;
}
section#trusted ul li {
  margin: 5px;
  padding: 0 20px;
  width: 15%;
}

/* Other Banner */
section#other-banner {
  background-image: url(../images/rain.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
  height: 700px;
}

/* Try Alita */
section#try {
  padding: 40px;
}
section#try div#sign-up-container h3 {
  margin: 10px auto;
  font-family: "David", serif;
  font-weight: normal;
  font-size: 40px;
  letter-spacing: -0.5px;
  line-height: inherit;
  color: white;
}
section#try div#sign-up-container p {
  margin: 20px auto;
  margin-top: 5px;
}
section#try div#sign-up-container form {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
section#try div#sign-up-container form input {
  padding: 12px;
  border: 1px solid #887e7e;
  border-radius: 0;
  width: 60%;
  font-size: 18px;
  outline: none;
}
section#try div#sign-up-container form input:focus {
  border: 1px solid white;
}
section#try div#sign-up-container form button {
  margin-left: 5px;
  padding: 16.5px;
  border: none;
  font-family: "David", serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: white;
  color: black;
}

/* Footer */
footer {
  padding: 50px 0 80px 0;
  background-color: black;
  color: white;
}
footer nav#footer-nav {
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
}
footer nav#footer-nav div.column {
  display: inline-block;
  margin: 10px 60px;
  padding: 0;
  width: 150px;
}
footer nav#footer-nav div.column:nth-child(4) {
  margin-right: 0;
}
footer nav#footer-nav div.column h4 {
  display: block;
  margin: 20px 0;
  font-family: "David", serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: inherit;
  text-transform: uppercase;
  text-decoration: none;
  background-color: none;
  color: white;
}
footer nav#footer-nav div.column a {
  display: block;
  margin: 15px 0;
  padding: 0;
  font-family: "Assistant Light", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: inherit;
  text-transform: none;
  text-decoration: none;
  background-color: none;
  color: #363b3b;
  transition: 0.3s ease-in-out;
}
footer nav#footer-nav div.column a:hover {
  text-decoration: underline;
}
footer nav#footer-nav div.column a sup {
  font-size: 8px;
}
footer nav#footer-nav div.column a sup:hover {
  text-decoration: none;
}
footer nav#footer-nav div.column a span {
  color: orangered;
}
footer hr {
  margin: 20px auto;
  width: 90%;
  border: 1px solid white;
  border-bottom: none;
}
footer div#social {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}
footer div#social div#social-media-container {
  align-self: center;
}
footer div#social div#social-media-container a {
  display: inline-block;
  margin: 0 10px 0 10px;
  padding: 5px;
  background-color: none;
  color: none;
}
footer div#footer-logo-container img {
  display: block;
  margin: 0 auto;
}
footer p#copyright {
  margin: 2px 0 0 0;
  font-family: "Assistant Light", sans-serif;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: inherit;
  text-transform: none;
  text-decoration: none;
  background-color: none;
  color: #363b3b;
  align-self: center;
}

/***** MEDIA QUERIES *****/
@media screen and (max-width: 1125px) {
  section#trusted ul {
    justify-content: center;
    margin-top: 40px;
  }
  section#trusted ul li {
    margin: 5px 0;
    padding: 0 40px;
    width: 25%;
  }

  section#try div#sign-up-container form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }
  section#try div#sign-up-container form input {
    width: 80%;
  }
}
@media screen and (max-width: 877px) {
  footer {
    padding-bottom: 50px;
  }

  div.column h4 {
    text-align: center;
  }

  div.column a {
    text-align: center;
  }

  footer div#social {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  footer div#social div#social-media-container, footer div#social div#footer-logo-container img, footer div#social p#copyright {
    margin: 5px auto;
  }
  footer div#social div#social-media-container {
    order: 1;
    margin-bottom: 30px;
  }
  footer div#social p#copyright {
    text-align: center;
    order: 2;
  }
}
@media screen and (max-width: 789px) {
  section#try div#sign-up-container form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }
  section#try div#sign-up-container form input {
    width: 80%;
  }
}
@media screen and (max-width: 589px) {
  section#try div#sign-up-container form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }
  section#try div#sign-up-container form input {
    margin-bottom: 20px;
    width: 97%;
  }
  section#try div#sign-up-container form button {
    margin-left: 0;
    width: 97%;
  }
}
