/* FONTS */

@font-face {
    src: url(../fonts/david.ttf) format('truetype');
    font-family: "David";
    font-display: block;
}

@font-face {
    src: url(../fonts/Assistant-Regular.ttf) format('truetype');
    font-family: "Assistant";
    font-display: block;
}

@font-face {
    src: url(../fonts/Assistant-Light.ttf) format('truetype');
    font-family: "Assistant Light";
    font-display: block;
}