/* FONTS */

@font-face {
    src: url(../fonts/gilroy-light.otf) format('opentype');
    font-family: "Gilroy Light";
    font-display: block;
}

@font-face {
    src: url(../fonts/david.ttf) format('truetype');
    font-family: "David";
    font-display: block;
}

@font-face {
    src: url(../fonts/Assistant-Light.ttf) format('truetype');
    font-family: "Assistant Light";
    font-display: block;
}