                                        // +=+=+=+=+=+ GENERAL STYLES +=+=+=+=+=+ //

// These classes are meant to be shared across all your projects. If you're finding it hard to figure out why your HTML elements aren't being styled the way you want don't forget to check the other modules.

@import "variables";
@import "mixins";

/* Universal selector, html, body and general use tags */

* {
    @include universalStyles;
  }

*::before {
    box-sizing: border-box;
  }
  
*::after {
    box-sizing: border-box;
  }

a#top-link {
    justify-content: center;
    align-content: center;
    background-image: url(../images/up.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    @include paddingStyles(5px); 
    @include positionStyles(fixed);
    top: 89%;
    left: 94%;
    @include widthStyles(40px); 
    @include heightStyles(40px);
    @include colorStyles($colorMain, null);
    transition: 0.3s ease-in;
    box-shadow: $boxShadowSpread;
}

a#top-link:hover {
    background-image: url(../images/up2.png);
    @include colorStyles($colorThird, null);
    border-radius: 50%;
    box-shadow: none;
}

body {
    @include colorStyles($colorSecond, null);
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
    border-radius: 8px;
    @include widthStyles(100%);
}

p {
    @include fontStyles($fontParagraphs, normal, 18.5px);
    @include textStyles(0.5px, 28px, null, null);
    // @include colorStyles(null, $colorOnWhite);
}

small {
    @include displayStyles(block);
}

/* General Use Classes */

.align-c {
    text-align: center;
}

.align-l {
    text-align: left;
}

.align-r {
    text-align: right;
}

.banner {
    @include widthStyles(100%);
}

.banner-headline {
    @include marginStyles(150px 0 20px 150px);
    @include fontStyles($fontHeadings, normal, 75px);
    @include textStyles($headlines, 65px, auto, null);
}

.banner-text {
    @include marginStyles(5px 5px 5px 150px);
    @include fontStyles($fontParagraphs, normal, 19px);
    @include textStyles(0.2px, 30px, null, null);
}

.cta {
    @include displayStyles(block);
    @include marginStyles(10px auto);
    @include paddingStyles(10px); 
    @include fontStyles($fontNavLinks, normal, 13.5px);
    @include textStyles(1px, 25px, uppercase, none);
}

.collapsed {
    height: 0;
}

.flex-cl {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-rw {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid {
    display: grid;
}

.heading-l {
    @include fontStyles($fontHeadings, normal, 55px); 
    @include textStyles($headlines, inherit, null, null);
}

.heading-m {
    @include fontStyles($fontHeadings, normal, 50px); 
    @include textStyles($headlines, inherit, null, null);
}

.heading-s {
    @include marginStyles(10px auto);
    @include fontStyles($fontHeadings, normal, 35px);
    @include textStyles(-0.8px, 40px, null, null);
}

.heading-t {
    @include marginStyles(10px auto);
    @include fontStyles($fontHeadings, normal, 28px);
    @include textStyles(-0.8px, 40px, null, null);
}

.heading-xl {
    @include marginStyles(10px auto);
    @include fontStyles($fontHeadings, normal, 62px);
    @include textStyles(-0.8px, 60px, null, null);
}

.hidden {
    opacity: 0;
}

.list-item {
    display: inline-block;
    text-decoration: none;
}

.on-black {
    @include colorStyles(null, $colorOnBlack);
}

.on-white {
    @include colorStyles(null, $colorOnWhite);
}

.rule {
    @include displayStyles(block);
    border: 1px solid $colorMain;
    border-bottom: none;
}

