// Import Statements

@import "fonts";
@import "variables";
@import "mixins";
@import "generalstyles";

/* Navigation Bar */

nav#navigation {
    @include flexContainerStyles(center, center);
    @include positionStyles(fixed);
    @include widthStyles(100%);
    // @include colorStyles($colorSecond, null);

        div#nav-logo-container {
            padding-top: 15px;
            position: relative;
            @include transitionStyles(0.7s ease-in-out);
        }

        div#nav-logo-container::after {
            content: 'Est. 1781';
            position: absolute;
            top: 38%;
            left: 100%;
            font-size: 11px;
            color: $colorThird;
        }

        div#nav-links-container {

            @include flexContainerStyles(space-between, center);
        
                a {
                    @include displayStyles(inline-block);
                    @include marginStyles(5px);
                    @include paddingStyles(10px);
                    @include fontStyles($fontNavLinks, normal, 12px);
                    @include textStyles(1px, auto, uppercase, null);
                    @include colorStyles(null, $colorMain);

                        &:hover {
                            opacity: 0.3;
                        }
                }

        }
    
}

/* Collapsed Navigation Bar (via JavaScript) */

nav#navigation-collapsed {
    flex-direction: row;
    flex-wrap:wrap;
    @include flexContainerStyles(space-around, stretch);
    @include positionStyles(fixed);
    @include widthStyles(100%);
    @include colorStyles($colorSecond, null);

        div#nav-logo-container {
            padding-top: 0;
            position: relative;
            @include transitionStyles(0.5s ease-in-out);
        }

        div#nav-logo-container::after {
            content: 'Est. 1781';
            position: absolute;
            top: 15%;
            left: 100%;
            font-size: 11px;
            color:$colorThird;
        }

        div#nav-links-container {
        
                a {
                    @include displayStyles(inline-block);
                    @include marginStyles(5px);
                    @include paddingStyles(10px);
                    @include borderStyles(null, 4px, null);
                    @include fontStyles($fontNavLinks, normal, 12px);
                    @include textStyles(1px, auto, uppercase, null);
                    @include colorStyles(null, $colorMain);

                        &:hover {
                            opacity: 0.3;
                        }
                }

        }
    
}

/* Page Banner Section */

section#page-banner {

    @include marginStyles(0);
    @include paddingStyles(50px 10px 150px 10px);
    // @include gridContainerStyles($cols, $rows);
    @include bgImageStyles(url(../images/racoon.jpg), no-repeat, center, cover, scroll);
    height:700px;

    div.banner {

            h1 {
                @include colorStyles(null, $colorMain);
            }

            p {
                width: 40%;
            }

            a {
                display: inline-block;
                margin-top: 30px;
                margin-left: 150px;
                @include borderStyles(1px solid $colorMain, 0, none);
                @include colorStyles(null, $colorMain);
        
                    &:hover {
                        @include colorStyles($colorMain, $colorSecond);
                    }
            }

    }
   
}

/* Craftsmanship  */

section#craftsmanship {
    @include paddingStyles(20px 0);
    padding-bottom: 80px;
    @include colorStyles($colorMain, null);

        h2 {
            @include marginStyles(100px 0 20px 0); 
            @include colorStyles(null, $colorSecond); 
        }

        p {
            @include marginStyles(10px auto);
            margin-bottom: 80px;
            // margin-bottom: 30px;
            @include widthStyles(70%);
            @include textStyles(0.2px, 30px, null, null);
        }

        div#craftsmanheader {
            margin: 5px auto;
            margin-bottom: 0;
            // padding: 40px;
            width: 90%;

                div.craft-inner {
                    @include flexContainerStyles(space-between, center);
                    // margin-bottom: 80px;
                    padding: 0 40px;

                        &:nth-child(even) {
                            flex-direction: row-reverse;
                        }

                        // &:nth-child(3) {
                        //     margin-bottom: 20px;
                        // }

                        div.container_img {
                            width:60%;
                        }
        
                        div.container_txt {
                            padding: 20px 10px;
                            width: 40%;
                            @include borderStyles(1px solid $colorThird, 0, none);
        
                                h2 {
                                    margin-top: 10px;
                                }

                                hr {
                                    margin-bottom: 40px;
                                }

                                p {
                                    margin-bottom: 0;
                                    width: 90%;
                                }
                    }

                }
                    
        }

        div {
            @include flexContainerStyles(center, stretch);
        }

        div.card {      
            @include marginStyles(15px);
            @include paddingStyles(0);
            // @include paddingStyles(30px);
            @include widthStyles(20.5%);
            @include borderStyles(1px solid $colorThird, null, null); 
            @include colorStyles(null, null);

                &:hover {
                    box-shadow: $boxShadowDark;
                }
            // box-shadow: $boxShadowDark;
            
                // &:nth-child(even) {
                //     position: relative;
                //     top: 70px;
                // }

                // img {
                //   border-radius: 8px;
                // }

                hr {
                    width: 90%;
                }

                p {
                    width: 90%;
                }

        }

        h2.heading-xl.pad {
            margin: 80px 0 100px 0;
            padding-right: 20%;
        }

}

/* Patreons */

section#patreon {
    padding: 100px 40px;
    @include colorStyles($colorSecond, null);

        div.flex-rw {
            @include flexContainerStyles(space-evenly, center);
            
                div.container_txt {
                    width: 50%;

                    h2, p {
                        padding: 0 60px;
                        color: $colorMain;
                    }

                    h2 {
                        margin: 10px auto;
                        margin-bottom: 20px;
                    } 

                    hr {
                        margin: 30px auto;
                        width: 80%;
                    }
                    
                    p {
                        @include textStyles(0.2px, 30px, null, null);
                    }
                }
                
                div.container_img {
                    @include flexContainerStyles(center, stretch);
                    width: 50%;

                    div.card {

                        margin: 10px;
                        width: 40%;
                        @include borderStyles(1px solid $colorThird, 0, none);

                        img {
                            width: 100%;
                        }

                    }
                }

        }

}

/* History Section */

section#history {
    @include bgImageStyles(url(../images/beartaxidermy.jpg), no-repeat, center, cover, fixed);
    @include flexContainerStyles(center, center);
    height: 1700px;

    div#history-content {

        min-width: 70%;

        div.flex-rw {
            @include flexContainerStyles(space-between, stretch);
            @include marginStyles(20px auto);
            width: 100%;
    
                span {
                    margin: 0;
                    margin-right: 10px; 
    
                }
    
                h3 {
                    position: relative;
                    top: 3px; 
                }
    
        }
    
        hr {
            border: 1px solid white;
            border-bottom: none;
        }
    
        h2#bottom {
            margin-top: 300px;
        }
    }

}

/* Case Study */

section#study {
    @include flexContainerStyles(center, center);
    padding-bottom: 100px;
    background-color: $colorSecond;
    overflow: visible;

        div.container_outer {

            @include flexContainerStyles(center, center);
            margin-top: 200px;
            width: 100%;

                div.container_txt, div.container_img {
                    @include marginStyles(0);
                    @include widthStyles(80%);
                }
        
                div.container_img {
        
                    img {
                        @include widthStyles(100%);
                    }
        
                }
        
                div.container_txt {
        
                    @include flexContainerStyles(center, center);
                    @include paddingStyles(50px auto);
                    padding-bottom: 0;
                
                        h2 {
                            @include marginStyles(30px auto);
                            margin-bottom: 0;
                            @include colorStyles(null, $colorMain);
                        }

                        p {
                            @include marginStyles(10px auto);
                            @include paddingStyles(0 30px);
                            width: 100%;
                            @include textStyles(0.2px, 30px, null, null);
                        }
        
                        a {
                            margin-top: 50px;
                            @include borderStyles(1px solid $colorMain, 0, none);
                            @include colorStyles(null, $colorMain);
                    
                                &:hover {
                                    @include colorStyles($colorMain, $colorSecond);
                                }
                        }
        
                }
                
        }
    
}

/* Commission */

section#commission {
    padding-bottom: 50px;
    @include colorStyles($colorMain, null);

        div#form-container {
            margin: 20px auto;

                h2 {
                    margin-left: 15%;
                    margin-bottom: 20px;
                }

                h2 {
                    padding-top: 120px;
                    @include colorStyles(null, $colorSecond);
                }

                form {
                    padding: 10px;

                        input, button, textarea {
                            margin: 30px auto;
                            width: 70%;
                            font-size: 20px;
                            outline: none;
                        }

                        input, textarea {
                            padding: 10px;
                            background-color: $colorMain;
                            color: $colorSecond;
                        }

                        input {
                            border:none;
                            border-bottom: 1px solid grey;
                                &:focus {
                                    border-bottom: 1px solid $colorSecond;
                                }
                        }

                        textarea {
                            border: 1px solid grey;
                            &:focus {
                                border: 1px solid $colorSecond;
                            }
                        }

                        button {
                            padding: 10px;
                            border: none;
                            // border-radius: 4px;
                            letter-spacing: 8px;
                            text-transform: uppercase;
                            background-color: $colorSecond;
                            color: $colorMain;
                            &:hover {
                                cursor: pointer;
                                background-color: $colorThird;
                            }
                            
                        }
                }

        }
}



/* Footer */

footer {
    @include paddingStyles(50px 0 80px 0);
    @include colorStyles($colorSecond, $colorMain);
    border-top: 1px solid rgba(211, 207, 207, 0.2);

        nav#footer-nav {
            @include marginStyles(0 auto);
            @include flexContainerStyles(space-evenly, center);
            @include marginStyles(0 auto);
             
                div#social {

                    @include flexContainerStyles(space-around, center);
                    
                        div#copyright {

                            p {
                                @include marginStyles(2px 0 0 0); 
                                @include fontStyles($fontNavLinks, normal, 12px);
                                @include textStyles(0.5px, inherit, null, null);
                                align-self: center;
                            }
        
                        }
                        
                        div.social-media-container {
                            @include flexContainerStyles(space-around, center);
                            margin-bottom: 0;

                                a {
                                    display: inline-block;
                                    margin: 40px;
                                }

                        }

                }

                 div.column {
                     @include displayStyles(inline-block);
                     @include marginStyles(10px 60px);
                     @include paddingStyles(0);

                        &:nth-child(4) {
                            margin-right: 0;
                        }
            
                        a {
                            @include displayStyles(block);
                            @include marginStyles(5px 45px);
                            @include paddingStyles(0);
                            @include fontStyles($fontNavLinks, normal, 18px);
                            @include textStyles(0.5px, inherit, null, null);
                            @include colorStyles(null, $colorMain);
                            @include transitionStyles(0.3s ease-in-out);

                                &:hover {
                                    opacity: 0.5;
                                }

                                small {
                                    margin-top: 30px;
                                    color: grey;
                                }
            
                                sup {
                                    font-size: 8px;

                                    &:hover {
                                        text-decoration: none;
                                    }
                                }
            
                                span {
                                    color: orangered; 
                                }
            
                        }
        
                 }
                 
        }

}

/***** MEDIA QUERIES *****/

@media screen and (max-width: 1125px) {

    section#trusted {

            ul {

                justify-content: center;
                margin-top: 40px;
    
                    li {
                        margin: 5px 0;
                        padding: 0 40px;
                        @include widthStyles(25%);  
                    }
            }
    }


    section#try {
    
        div#sign-up-container {

            form {
                @include flexContainerStyles(center, center); 
                margin: 10px auto;

                    input {
                        width: 80%;
                    }

            }

        }
    }

}

@media screen and (max-width: 877px) {

    footer {
        padding-bottom: 50px;
    }

    div.column h4 {
    text-align: center;
    }

    div.column a {
     text-align: center;
    }

    footer div#social {
        @include flexContainerStyles(center, center);

            div#social-media-container, div#footer-logo-container img, p#copyright {
                @include marginStyles(5px auto);
            }

            div#social-media-container {
                order: 1;
                margin-bottom: 30px;
            }

            p#copyright {
                text-align: center;
                order: 2;
            }
    }

}

@media screen and (max-width: 789px) {

    section#try {
    
            div#sign-up-container {
    
                form {
                    flex-direction: row;
                    @include flexContainerStyles(center, center); 
                    margin: 10px auto;
    
                        input {
                            width: 80%;
                        }
    
                }
    
            }
    }
}

@media screen and (max-width: 589px) {

    section#try {
    
            div#sign-up-container {
    
                form {
                    @include flexContainerStyles(center, center); 
                    margin: 10px auto;
    
                        input {
                            margin-bottom: 20px;
                            width: 97%;
                        }

                        button {
                            margin-left: 0;
                            width: 97%;
                        }
    
                }
    
            }
    }
}
