// Import Statements

@import "fonts";
@import "variables";
@import "mixins";
@import "generalstyles";

/* Navigation Bar */

nav#navigation {

    @include positionStyles(fixed);
    @include widthStyles(100%);
    @include colorStyles($colorSecond, null);

        div#nav-logo-container, div#nav-links-container {
            @include flexContainerStyles(row, wrap, center, center);
        }

        div#nav-logo-container {
            padding-top: 15px;
            // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }

        div#nav-links-container {
            // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        
                a {
                    @include displayStyles(inline-block);
                    @include marginStyles(5px);
                    @include paddingStyles(10px);
                    @include borderStyles(null, 4px, null);
                    @include fontStyles($fontNavLinks, bold, 11px);
                    @include textStyles(1px, auto, uppercase, null);
                    @include colorStyles(null, $colorMain);

                        sup {
                            @include colorStyles(null, $colorThird);
                        }

                        &:hover {
                            color: $colorThird;
                        }
                }
          
                a#cta {
                    @include borderStyles(null, 0, null);
                    @include fontStyles($fontNavLinks, bold, 13px);
                    @include textStyles(1.5px, auto, uppercase, null);
                    margin-left: 100px;
                    font-weight: bold;
                    @include colorStyles($colorMain, $colorSecond);

                        &:hover {
                            @include colorStyles($colorThird, $colorSecond);
                        }
                }

        }
    
}

/* Page Banner Section */

section#page-banner {

    @include marginStyles(60px 0 0 0);
    @include paddingStyles(50px 10px 150px 10px);
    // @include gridContainerStyles($cols, $rows);
    @include bgImageStyles(url(../images/mathew.jpg), no-repeat, center, cover, scroll);

    div {

        // @include gridItemStyles($col, $row);

            h1 {
                @include colorStyles(null, $colorMain);
            }

            p {
                width: 50%;
                @include colorStyles(null, $colorOnBlack);
            }

    }

}

/* Solutions  */

section#solutions {

    @include paddingStyles(50px 0 100px 0);

        h2 {
            @include marginStyles(40px 0 20px 0); 
            @include fontStyles($fontHeadings, normal, 43px); 
            @include textStyles($headlines, inherit, null, null);
            @include colorStyles(null, $colorMain); 
        }

        p {
            @include marginStyles(20px auto);
            @include widthStyles(70%);
        }

        div {
            @include flexContainerStyles(row, wrap, center, stretch);
        }

        div.card {      
            @include marginStyles(20px);
            @include widthStyles(35%); 
            @include borderStyles(null, 0, null);
            @include colorStyles(null, null); 

                h3 {
                    @include marginStyles(10px auto);
                    @include fontStyles($fontHeadings, normal, 18px);
                    @include textStyles(0.2px, 30px, null, null);
                    @include colorStyles(null, $colorOnWhite);
                }
        }

        a {
            @include displayStyles(inline-block);
            @include marginStyles(10px auto);
            font-weight: normal;
            @include colorStyles($colorMain, $colorSecond);

                &:hover {
                    @include colorStyles($colorThird, null);
                }
        }

}

/* Stats*/

section#stats {

    div.container_outer {

        @include paddingStyles(40px 0);
        @include flexContainerStyles(row, wrap, center, center);
        border-top: 1px solid lightgrey; 
        border-bottom: 1px solid lightgrey;
        box-shadow: $solutions;

            div.container_inner {
                @include paddingStyles(10px); 
                width: 45%;

                h2, span {
                    @include marginStyles(20px auto); 
                    @include paddingStyles(5px); 
                    @include textStyles($headlines, inherit, null, null);
                }

                h2 {
                    @include fontStyles($fontHeadings, normal, 40px); 
                    @include colorStyles(null, $colorMain); 
                }

                // img {
                //     height: 30px;
                // }

                span {
                    @include displayStyles(inline-block);
                    @include paddingStyles(20px); 
                    border: 4px solid $colorMain;
                    border-radius: 50%;
                    @include fontStyles($fontHeadings, bold, 60px);
                    @include colorStyles($colorSecond, $colorMain);
                    // @include boxShadowStyles(1px 1px 12px 2px grey);
                }

                p {
                    @include marginStyles(40px); 
                    @include paddingStyles(5px);
                    min-width: 350px;
                    @include fontStyles('Source Sans Pro Light', null, 30px); 
                    letter-spacing: -0.5px;
                    @include colorStyles(null, #2f2b2b); 
                }

                small {
                    @include marginStyles(10px); 
                }

            }

            div.container_inner.flex {
                @include flexContainerStyles(column, wrap, center, center); 

                    div.flex {
                        @include flexContainerStyles(row, wrap, space-between, center);
                    }
            }

    }
       
}

/* Carousel  */

section#carousel {

    @include paddingStyles(100px 0);

        div {
            @include flexContainerStyles(row, wrap, center, stretch);
        }

        div.carousel-btn-l, div.carousel-btn-r {
            display: inline-block;
            padding: 10px;
            position: relative;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            transition: 0.5s ease-in-out;

                &:hover {
                    @include colorStyles($colorSecond, null);
                    box-shadow:$boxShadowSpread;
                }
        }

        div.carousel-btn-l {
            left: 40px;
            top: 180px;
        }

        div.carousel-btn-r {
            left: 1240px;
            bottom: 200px;
        }

        div.card {      
            @include marginStyles(20px);
            @include widthStyles($c4); 
            @include borderStyles(null, 0, null);
            @include colorStyles($colorSecond, null); 
            @include boxShadowStyles($boxShadowDark);

                h3 {
                    @include marginStyles(5px auto);
                    @include fontStyles($fontHeadings, normal, 20px);
                    @include textStyles(0.2px, 30px, null, null);
                    @include colorStyles(null, $colorOnWhite);
                }

        }

}

/* Threat Report */

section#report {

    @include flexContainerStyles(row, wrap, space-evenly, stretch);
    background-color: $colorThird;

        div.container_text, div.container_img {
            @include marginStyles(0);
            @include widthStyles(50%);
        }

        div.container_text {

            @include flexContainerStyles(column, wrap, center, center);
            @include paddingStyles(150px 0 130px 0);
          
                h2 {
                    @include marginStyles(10px auto);
                    @include fontStyles($fontHeadings, normal, 40px);
                    @include textStyles($headlines, 40px, null, null);
                    @include colorStyles(null, $colorSecond);
                }

                hr {
                    @include hrStyles(20px auto, 90%, 1px solid rgba(255, 255, 255, 0.5));
                }

                p {
                    @include marginStyles(25px auto);
                    @include paddingStyles(0 30px);
                    @include colorStyles(null, $colorSecond);
                }

                a {
                    @include borderStyles(1px solid $colorSecond, 0, none);
                    @include colorStyles(null, $colorSecond);
               
                        &:hover {
                            @include colorStyles($colorSecond, $colorThird);
                        }
                }

        }

        div.container_img {

            img {
                @include heightStyles(100%);
            }

        }
               
}

/* Trusted By */

section#trusted {

    padding: 40px;

        h2 {
            @include marginStyles(10px auto); 
            @include fontStyles($fontHeadings, normal, 40px); 
            @include textStyles($headlines, inherit, null, null);
            @include colorStyles(null, $colorMain); 
        }

        p {
            @include marginStyles(10px auto);
            margin-bottom: 0;
        }

        // hr {
        //     margin: 35px auto;
        //     margin-bottom: 0;
        //     width: 90%;
        // }

        ul {
            @include flexContainerStyles(row, wrap, space-evenly, stretch); 
            @include marginStyles(0 auto); 
            @include paddingStyles(0); 

                li {
                    @include marginStyles(5px); 
                    @include paddingStyles(0 20px);
                    @include widthStyles(15%);  
                }
        }
}

/* Other Banner */

section#other-banner {
        @include bgImageStyles(url(../images/rain.jpg), no-repeat, center, cover, scroll);
        width: 100%;
        height: 700px;
}

/* Try Alita */

section#try {
    padding: 40px;

        div#sign-up-container {

            h3 {
                @include marginStyles(10px auto); 
                @include fontStyles($fontHeadings, normal, 40px); 
                @include textStyles($headlines, inherit, null, null);
                @include colorStyles(null, $colorMain);   
            }

            p {
                @include marginStyles(20px auto);
                margin-top: 5px;
            }

            form {
                @include flexContainerStyles(row, wrap, center, center); 
                margin: 10px auto;

                    input {
                        padding: 12px;
                        border: 1px solid $colorFinal;
                        border-radius: 0;
                        width: 60%;
                        font-size: 18px;
                        outline: none;

                        &:focus {
                            border: 1px solid $colorMain;
                        }
                    }

                    button {
                        margin-left: 5px;
                        padding: 16.5px;
                        border: none;
                        font-family: $fontHeadings;
                        font-size: 14px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        @include colorStyles($colorMain, $colorSecond);  
                    }
            }

        }
}

/* Footer */

footer {
    @include paddingStyles(50px 0 80px 0);
    @include colorStyles($colorSecond, $colorMain);

        nav#footer-nav {
            @include marginStyles(0 auto);
            @include flexContainerStyles(row, wrap, center, stretch);
            @include marginStyles(0 auto);
             
                 div.column {
                     @include displayStyles(inline-block);
                     @include marginStyles(10px 60px);
                     @include paddingStyles(0);
                     @include widthStyles(150px);

                        &:nth-child(4) {
                            margin-right: 0;
                        }

                        h4 {
                            @include displayStyles(block);
                            @include marginStyles(20px 0);
                            @include fontStyles($fontHeadings, bold, 16px);
                            @include textStyles(1px, inherit, uppercase, none);
                            @include colorStyles(none, $colorMain);
                        }
            
                        a {
                            @include displayStyles(block);
                            @include marginStyles(15px 0);
                            @include paddingStyles(0);
                            @include fontStyles($fontParagraphs, normal, 14px);
                            @include textStyles(0.5px, inherit, none, none);
                            @include colorStyles(none, $colorOnWhite);
                            @include transitionStyles(0.3s ease-in-out);

                                &:hover {
                                    text-decoration: underline;
                                }
            
                                sup {
                                    font-size: 8px;

                                    &:hover {
                                        text-decoration: none;
                                    }
                                }
            
                                span {
                                    color: orangered; 
                                }
            
                        }
        
                 }
                 
        }

        hr {
            @include hrStyles(20px auto, 90%, 1px solid $colorMain);
        }

        div#social {

            @include flexContainerStyles(row, wrap, space-around, stretch);

                div#social-media-container {
                    align-self: center;
        
                        a {
                            @include displayStyles(inline-block);
                            @include marginStyles(0 10px 0 10px); 
                            @include paddingStyles(5px); 
                            @include colorStyles(none, none); 
                        }
                }
        }

        div#footer-logo-container img {
            @include displayStyles(block);
            @include marginStyles(0 auto); 
        }

        p#copyright {
            @include marginStyles(2px 0 0 0); 
            @include fontStyles($fontParagraphs, normal, 12px);
            @include textStyles(0.5px, inherit, none, none);
            @include colorStyles(none, $colorOnWhite); 
            align-self: center;
        }

}

/***** MEDIA QUERIES *****/

@media screen and (max-width: 1125px) {

    section#trusted {

            ul {

                justify-content: center;
                margin-top: 40px;
    
                    li {
                        margin: 5px 0;
                        padding: 0 40px;
                        @include widthStyles(25%);  
                    }
            }
    }


    section#try {
    
        div#sign-up-container {

            form {
                @include flexContainerStyles(row, wrap, center, center); 
                margin: 10px auto;

                    input {
                        width: 80%;
                    }

            }

        }
}



}



@media screen and (max-width: 877px) {

    footer {
        padding-bottom: 50px;
    }

    div.column h4 {
    text-align: center;
    }

    div.column a {
     text-align: center;
    }

    footer div#social {
        @include flexContainerStyles(column, wrap, center, center);

            div#social-media-container, div#footer-logo-container img, p#copyright {
                @include marginStyles(5px auto);
            }

            div#social-media-container {
                order: 1;
                margin-bottom: 30px;
            }

            p#copyright {
                text-align: center;
                order: 2;
            }
    }

}

@media screen and (max-width: 789px) {

    section#try {
    
            div#sign-up-container {
    
                form {
                    @include flexContainerStyles(row, wrap, center, center); 
                    margin: 10px auto;
    
                        input {
                            width: 80%;
                        }
    
                }
    
            }
    }
}

@media screen and (max-width: 589px) {

    section#try {
    
            div#sign-up-container {
    
                form {
                    @include flexContainerStyles(row, wrap, center, center); 
                    margin: 10px auto;
    
                        input {
                            margin-bottom: 20px;
                            width: 97%;
                        }

                        button {
                            margin-left: 0;
                            width: 97%;
                        }
    
                }
    
            }
    }
}
